<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather app</title>
</head>
<body>
    {{!-- common Menu navigation --}}
    {{>header}}
    <div class="about-container">
        <h4>About Weather master</h4>
        <h5>Weather master gives you current temperature details of the desired city.</h5>
        <h5>Plannig for an outing or a picnic?</h5>
        <p>Visit weather master and get weather details and plan accordingly.</p>
    </div>
</body>
</html>