<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather app</title>
</head>
<body>
    {{!-- common Menu navigation --}}
    {{>header}}
    <div class="help-container">
        <h4>Need help!!</h4>
        <p>Put the city name in the search field and click on the 'Get weather' button
            and you will see the weather in a detailed manner.
        </p>
    </div>
</body>
</html>