{{!-- common Menu navigation --}}
<h2 class="app-title">Weather master</h2>
<nav>
    <a class="home" href="/">Home</a>
    <a class="about" href="/about">About</a>
    <a href="/help">Help</a>
</nav>
